.container {
  background-image: linear-gradient(#67e5cc, #4a7fe6);
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
}

.container__child {
  margin: 1rem 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1 5 1 silver;
  padding: 30px;
}
.container__heading {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 20px;
}
.item__add {
  position: relative;
  min-width: 40rem;
  max-width: 40rem;
}
.item__input {
  border: 1px solid rgb(231, 231, 231);
  height: 4.1rem;

  border-radius: 5px;
  padding: 10px;
  min-width: 35rem;
  max-width: 40rem;
}
.btn__add {
  position: absolute;
  right: 0px;
  top: 1px;
  color: white;
  font-size: 62px;
  background: #8e49e8;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn__update {
  position: absolute;
  right: 0px;
  top: 1px;
  color: white;
  font-size: 62px;
  background: rgb(0, 187, 255);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn__group {
  position: relative;
  display: flex;
}
.btn__edit {
  color: white;
  position: absolute;
  right: 52px;
  top: -10px;
  font-size: 59px;
  background: rgb(0, 187, 255);
  padding: 15px;
  /* border-radius: 20px; */
  cursor: pointer;
}
.btn__del {
  position: absolute;
  color: white;
  right: -10px;
  top: -10px;
  font-size: 59px;
  background: #e74c3c;
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.item__all {
  display: flex;
  min-height: 59px;
  justify-content: space-between;
  min-width: 40rem;
  max-width: 40rem;
  background-color: #f2f2f2;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.text__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 31rem;
}
.item__time {
  font-size: 11px;
}
.error__color {
  color: red;
}
.item__box {
  display: flex;
}
.item__clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.clear__btn {
  color: white;
  font-size: 22px;
  background: #8e49e8;
  padding: 17px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
